$icon-font-path: "fonts/bootstrap/";
@import 'bootstrap';

html, body, .ng-scope, .challenges { height: 100%; }
body {
  font-family: 'Comfortaa', cursive;
}

.challenges {
  background: url('../images/bg-frozen.jpeg') no-repeat top center;
  background-size: cover;
  z-index: -2;

  .album-menu {
    display: inline-block;
    color: #7CB8EB;
    font-size: 28px;
    padding: 20px;
    opacity: 0.9;
  }

  .question {
    color: white;
    font-size: 82px;
    padding-top: 80px;
    padding-left: 40px;
    opacity: 0.8;

    @media (min-width: $screen-sm-min) {
      font-size: 102px;
      padding-top: 150px;
      padding-left: 80px;
    }

    @media (min-width: $screen-md-min) {
      font-size: 132px;
      padding-top: 150px;
      padding-left: 130px;
    }
  }

  #snow{
    background: none;
    font-family: Androgyne;
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
  }
  @keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  @-moz-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
  }
  @-webkit-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  @-ms-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }

  .question {
    opacity: 0.8;
  }

  .question.ng-hide-remove {
    transition: all 0.5s linear;
  }

  .question.ng-hide {
    opacity: 0;
  }


  .olaf {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
  }

  .olaf.ng-hide-add, .olaf.ng-hide-remove {
    transition: all 1s linear;
  }

  .olaf.ng-hide {
    opacity: 0;
  }

  @keyframes shake {
    0% {transform: translateX(0);}
    12.5% {transform: translateX(-6px) rotateY(-5deg)}
    37.5% {transform: translateX(5px) rotateY(4deg)}
    62.5% {transform: translateX(-3px) rotateY(-2deg)}
    87.5% {transform: translateX(2px) rotateY(1deg)}
    100% {transform: translateX(0)}
  }

  .shake {
    animation: shake 400ms ease-in-out;
  }
}

#win-sticker-modal {
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .sticker { text-align: center; }

  .action {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.album {
  background: url('../images/bg-frozen-2.jpg') no-repeat top center;
  background-size: cover;
  padding-top: 80px;
  height: initial;

  header {
    position: relative;

    .back a {
      display: inline-block;
      position: absolute;
      top: -20px;
      left: 0;
      color: #165792;
      font-size: 38px;
      font-weight: bold;
      line-height: 50px;
      width: 70px;
      height: 70px;
      text-align: center;
      text-decoration: none;
      padding: 5px;
      border: 7px solid #165792;
      border-radius: 50%;
      opacity: 0.8;

      .glyphicon { line-height: 0}
    }

    h1 {
      color: #E8FBFF;
      text-shadow: -2px 2px #004857;
      font-size: 62px;
      font-weight: bold;
      text-align: center;
      margin-top: -30px;
      margin-bottom: 70px;
    }
  }

  .sticker {
    background: #CCE7EB;
    border: 2px dashed #249DAD;
    margin-bottom: 40px;

    img { opacity: 0.1; }

    &.owned {
      border: 2px solid #249DAD;      

      img { opacity: 1; }
    }
  }
}