<div class="album">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Mi Album</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="sticker">
          <img src="images/stickers/01.jpg" class="img-responsive">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="sticker owned">
          <img src="images/stickers/02.jpg" class="img-responsive">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="sticker">
          <img src="images/stickers/03.jpg" class="img-responsive">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="sticker">
          <img src="images/stickers/04.jpg" class="img-responsive">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="sticker">
          <img src="images/stickers/05.jpg" class="img-responsive">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="sticker masonry-brick">
          <img src="images/stickers/06.jpg" class="img-responsive">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="sticker masonry-brick">
          <img src="images/stickers/07.jpg" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>